body{
    background-color: white;
}
#page {
    width	: 80%;
    height	: 500px;
    position: fixed;
    top: 15%;
    right: 0px;
    border: 3px
    solid #73AD21;
    padding: 10px;
    float: right;
    text-align: left;
}

.button {
    height:30px;
    width:100px;
    position: relative;
    top: 20%;
    left: 0%;
    background-color: #1a8cff; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}



.title
{
    color:  #1a8cff;
    text-align: center;
    margin: 1%;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif

}
/*{
    position: fixed;
    left: 1.5%;
    top: 50%;
    height: 300px;
    width: 225px;
    background-color: mediumaquamarine;
}
/*
/*
ul {
    list-style-type: none;
    margin: 1%;
    position: relative;
    padding: 10px;
    width: 200px;
    float: left;
    background-color: mediumaquamarine;

}

li {
    display: block;
    color: #000;
    padding: 10px 16px;
    margin: 1%;
    text-decoration: none;
}

/* Change the link color on hover */
li:hover {
    background-color: mediumturquoise;
    color: white;
}

