<!DOCTYPE html>
<HTML>
	<HEAD>
        <meta charset="UTF-8" />
        <title>home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->

        <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/amstock.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

        <script type="text/javascript" src="amchart-graph.js"></script>
        <link rel = "stylesheet" type="text/css" href="graph.css" media="screen"/>

	</HEAD>
    <BODY ng-app="chartdiv">
    <p >
    <h1 class="title"> Monitoring Server Metrics </h1>
    </p>
    <div>
        <ul>
           <!-- <li><a href="http://localhost:8080/view">Complete Details</a></li> -->
            <li ng-click="viewDetails()">View Details</li>
            <li ng-click="viewGraph()">View Graphs</li>
            <li nq-click="">Load Graph</li>
            <li><a href="#pie">Memory Pie-chart</a></li>
        </ul>
    </div>
    <div id="secondnav" ng-show="true">
        <ul>
            <li> <a href="#details"> {{write}}</a> </li>
            <li><a href="#grp"> {{write1}} </a></li>
        </ul>
    </div>

    <div ng-controller="chart" ng-model="write" style="border: 1px solid black" ng-view>
        <h1>{{value}} {{write}} {{details1}}</h1> <!-- replace id with ng-app-->
    </div>
    </BODY>

</html>