<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript" src="fusioncharts.js"></script>
<script type="text/javascript" src="fusioncharts.charts.js"></script>

<script type="text/javascript" src="angular-fusioncharts.min.js"></script>
<head>
    <!--  <link rel="stylesheet" type="text/css" href="graph.css"> -->
</head>
<body ng-app="chartApp">

<script>
    var app = angular.module('chartApp', ['ng-fusioncharts']);

    app.controller("MyController", function($scope, $http) {
        // chart data source

        $http.get("http://localhost:8080/view").then(function (response) {
            $scope.myData = response.data;
        });

        $scope.dataSource = {
            chart: {
                caption: "Server Metrics",
                subCaption: "System Load with respect to Time",
                xAxisName: "Time",
                yAxisName: "System Load",
                //numberPrefix: "$",
                theme: "ocean"
            },


            data:[]
        };

        $scope.updateMyChartData = function (x) {

            console.log($scope.myData);
            var x;
            for(x in $scope.myData) {
                $scope.dataSource.data.push({'label': $scope.myData[x].DATE, 'value': $scope.myData[x].LOAD});

            }

        };
    });


</script>

<div ng-controller= "MyController">
    <fusioncharts
            width= 80%
            height=90%
            type="column2d"
            datasource="{{dataSource}}">
    </fusioncharts>
    <p><a class="btn btn-default" ng-click="updateMyChartData()"> Click here to view graph </a></p>
</div>



<div ng-controller="MyController">


    <table>
        <tr>
            <th>name</th>
        </tr>
        <tr ng-repeat="x in myData">
            <td ng-model="dataSource.data[1].label"> {{x.LOAD}} </td>
        </tr>
    </table>

</div>

</body>
</html>